{{ partial "header.html" . }}

<div class="page-content">
  <div class="container-fluid">
    <div class="col-xs-12 content-header">
      <div class="edit-on-github">
        <a
          target="_blank"
          href="https://github.com/{{.Site.Params.github.repositoryName}}/tree/{{.Site.Params.github.branch}}/layouts/index.html"
          ><i>Edit on Github</i> <span class="cam-docs-github"></span
        ></a>
      </div>
      <h1 class="page-title">Cawemo</h1>
    </div>

    <div class="col-xs-12 content-text">
      <p>Cawemo is the specification platform of the Camunda stack. Its main purpose is to enable all stakeholders to model and collaborate on BPMN and DMN diagrams and related files.</p>

      <p>Cawemo comes in two flavours: the SaaS version hosted by Camunda and the on-premises version for self-hosting. For using the SaaS version, please go to <a href="https://cawemo.com">https://cawemo.com</a>.</p>

      <p><img src="{{.Site.BaseURL}}img/cawemo-bpmn-modeling.png"></p>
    </div>

    <div class="col-xs-12 menu-pages">
      <dl>
        {{ range $.Site.Menus.main }}
        <dt>
          <a href="{{.URL}}">{{ .Name }}</a>
        </dt>
        <dd>{{ if .Pre}} {{ trim .Pre "" | markdownify }} {{ end }}</dd>
        {{ end }}
      </dl>
    </div>
  </div>
</div>

<div class="page-toc">{{partial "banner.html"}}</div>

{{ partial "footer.html" . }}
