{{ partial "header.html" . }}

<div class="page-content">
  <div class="container-fluid">
    <div class="col-xs-12 content-header">
      <div class="edit-on-github">
        <a
          target="_blank"
          href="https://github.com/{{.Site.Params.github.repositoryName}}/tree/{{.Site.Params.github.branch}}/layouts/index.html"
          ><i>Edit on Github</i> <span class="cam-docs-github"></span
        ></a>
      </div>
      <h1 class="page-title">Cawemo</h1>
    </div>
    <div class="col-xs-12 content-text">
      <div class="note bg-info docs-info">
        <h3>Cawemo Retirement Update</h3>
        <p>Cawemo SaaS was retired effective 30th April 2024. Our ongoing commitment is to enhance collaboration between Business and IT teams through our modeler. For more details, please refer to our <a href="https://docs.camunda.org/enterprise/announcement/#cawemo-saas-announcements">Cawemo SaaS Announcements</a>.</p>
        <p>Cawemo On-Premises will continue to receive support, aligned with the Camunda 7 extended support timelines. For detailed information on these timelines and the support scope, please refer to the <a href="https://docs.camunda.org/enterprise/announcement/#cawemo-on-premises-announcements">Cawemo On-Premises Announcements</a>.</p>
        </p>
      </div>

      <p>Cawemo is the specification platform of the Camunda Platform 7 stack. Its main purpose is to enable all stakeholders to model and collaborate on BPMN and DMN diagrams and related files.</p>

      <p><img src="{{.Site.BaseURL}}img/cawemo-bpmn-modeling.png"></p>
    </div>

    <div class="col-xs-12 menu-pages">
      <dl>
        {{ range $.Site.Menus.main }}
        <dt>
          <a href="{{.URL}}">{{ .Name }}</a>
        </dt>
        <dd>{{ if .Pre}} {{ trim .Pre "" | markdownify }} {{ end }}</dd>
        {{ end }}
      </dl>
    </div>
  </div>
</div>

<div class="page-toc">{{partial "banner.html"}}</div>

{{ partial "footer.html" . }}
